<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainScene</key>
	<dict>
		<key>Layout</key>
		<dict>
			<key>edgePadding</key>
			<string>15</string>
			<key>edgePaddingNegative</key>
			<string>-15</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>Color</key>
			<dict>
				<key>Light</key>
				<string>#EEEEEEFF</string>
				<key>Medium</key>
				<string>#888888FF</string>
				<key>Dark</key>
				<string>#25134bFF</string>
			</dict>
			<key>cellWidth</key>
			<string>22</string>
			<key>cellRadius</key>
			<string>12</string>
			<key>insets</key>
			<string>15</string>
		</dict>
	</dict>
	<key>Colors</key>
	<dict>
		<key>C0</key>
		<string>#000000FF</string>
		<key>C1</key>
		<string>#FFFFFFFF</string>
		<key>C2</key>
		<string>#e6e6e6FF</string>
		<key>C3</key>
		<string>#1a1a1aFF</string>
		<key>C4</key>
		<string>#000000FF</string>
		<key>C5</key>
		<string>#31b9f4FF</string>
		<key>C6</key>
		<string>#0c5fa4FF</string>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>UltraLight</key>
		<string>AvenirNext-UltraLight</string>
		<key>UltraLightItalic</key>
		<string>AvenirNext-UltraLightItalic</string>
		<key>Medium</key>
		<string>AvenirNext-Medium</string>
		<key>MediumItalic</key>
		<string>AvenirNext-MediumItalic</string>
		<key>Regular</key>
		<string>AvenirNext-Regular</string>
		<key>RegularItalic</key>
		<string>AvenirNext-RegularItalic</string>
		<key>Bold</key>
		<string>AvenirNext-Bold</string>
		<key>BoldItalic</key>
		<string>AvenirNext-BoldItalic</string>
		<key>Heavy</key>
		<string>AvenirNext-Heavy</string>
		<key>DemiBold</key>
		<string>AvenirNext-DemiBold</string>
		<key>LineHeight</key>
		<dict>
			<key>SmallText</key>
			<string>2</string>
			<key>LargeText</key>
			<string>4</string>
		</dict>
		<key>Size</key>
		<dict>
			<key>S1</key>
			<string>13</string>
			<key>S2</key>
			<string>16</string>
			<key>S3</key>
			<string>18</string>
			<key>S4</key>
			<string>20</string>
			<key>S5</key>
			<string>27</string>
			<key>S6</key>
			<string>36</string>
			<key>S7</key>
			<string>46</string>
			<key>S8</key>
			<string>78</string>
			<key>S9</key>
			<string>130</string>
			<key>S10</key>
			<string>140</string>
			<key>S11</key>
			<string>192</string>
		</dict>
	</dict>
	<key>Layout</key>
	<dict>
		<key>edgePadding</key>
		<string>20</string>
		<key>horizontalPadding</key>
		<string>15</string>
		<key>verticalPadding</key>
		<string>10</string>
		<key>topPadding</key>
		<string>66</string>
		<key>cornerRadius</key>
		<string>7</string>
	</dict>
</dict>
</plist>
